<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean id="documentManger" class="com.shine.iocdi.xml.setter.DocumentManger">
		<!-- 
			constructor-arg  代表某一个构造器的参数
			  index 构造器参数的下标
			  value
			  ref
			  type  类型
			  <constructor-arg index="0" ref="wordDocument"></constructor-arg>
		 -->
        <!--该属性是一个接口-->
		<property name="document">
			<ref bean="pdfDocument"/>
		</property>
	</bean>
	<bean id="wordDocument" class="com.shine.iocdi.xml.setter.WordDocument"></bean>
	<bean id="pdfDocument" class="com.shine.iocdi.xml.setter.PdfDocument"></bean>
	<bean id="excelDocument" class="com.shine.iocdi.xml.setter.ExcelDocument"></bean>
</beans>