<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean class="com.shine.spring.createobj.HelloWorld" id="helloworld"></bean>
	<bean id="helloworld2" class="com.shine.spring.createobj.HelloWorldFactory"  factory-method="getInstance"></bean>
	
	<bean id="helloworldfactory" class="com.shine.spring.createobj.HelloWorldFactory2"></bean>
	<bean id="helloworld3" factory-bean="helloworldfactory" factory-method="getInstance"></bean>
</beans>