<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
         
	<bean class="com.shine.iocdi.xml.setter.mvc.dao.impl.PersonDaoImpl" id="personDao"></bean>
	<bean class="com.shine.iocdi.xml.setter.mvc.service.impl.PersonServiceImpl" id="personService">
		<property name="personDao">
			<ref bean="personDao"/>
		</property>
	</bean>

	<bean class="com.shine.iocdi.xml.setter.mvc.action.PersonAction" id="personAction">
		<property name="personService">
			<ref bean="personService"/>
		</property>
	</bean>
</beans>